#//=====================================================================
# Updated 2020-09-21
# Proprietary Information of Sarcos Group LC.
# Copyright (C) 2020 Sarcos Group LC. - All Rights Reserved Worldwide
# Unauthorized copying of this file, via any medium is strictly prohibited
#
# Data Rights:
# Prime Contract No. FA 8750-19-C-0040
# Subcontractor Name:  Sarcos Group LC, DBA Sarcos LC
#        Subcontractor Address:  360 Wakara Way, Salt Lake City, UT 84108-1214
#
# This Computer Software is provided to the Government pursuant to the Special
# License Rights as set forth in Modification 7 dated June 29, 2020 ("MOD 7")
# to the Subcontract Agreement with Black River Systems (Subcontract No. 1905-S11)
# dated September 11, 2019. The Government's rights to use modify, reproduce,
# release, perform, display or disclose technical data or computer software
# marked with this legend are subject to the terms set forth in MOD 7.
#
# This System includes commercial items and commercial software.
#=====================================================================
#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#
log4j.logger.ros=INFO
log4j.logger.ros.roscpp.superdebug=WARN
log4j.logger.ros.rosconsole_bridge.mavconn=ERROR
log4j.logger.ros.mavros=ERROR

